/* Cart style  */

.cart{
margin-left: 2%;
border: 1px solid red;
text-align: center;
background-color: aliceblue;
height: 150px;
padding: 35px;

}

.cart h5{
color: tomato;
font-weight: 600;
}

/* hover effect  */
.cart:hover{

    box-shadow: 1px 1px 50px coral;


}